:root {
	font-size: 14px;
	--color-primary-100: #dee3ea;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter";
	color: #fff;
	font-weight: 400;
	overflow: overlay;
}

.loading-logo {
	animation: blinker 1.5s linear infinite;
	opacity: 0;
}

@keyframes blinker {
	50% {opacity: 1;}
  }

::file-selector-button {
	display: none;
}

input[type="file"] {
	display: none;
}

::-webkit-scrollbar {
	width: 5px;

}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}