:root {
	font-size: 14px;
	--color-primary-100: #dee3ea;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;
  color: #fff;
}

::file-selector-button {
  display: none;
}
  input[type="file"] {
	display: none;
  }